@import '../../app.component.scss';

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.card {
  border-color: $primary;
  border-width: 2px;
  
  .card-subtitle{
    padding-bottom: .5rem;
  }

  .btn {
    border-color: $primary;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }
}
